* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }
  @media (max-width: 480px) {
    html {
      font-size: 8px; } }
  @media (min-width: 480px) and (max-width: 900px) {
    html {
      font-size: 9px; } }

:root {
  --color-header: #1e90ff;
  --color-text: #fff;
  --color-secondary: rgb(15, 39, 63);
  --color-tertiary: rgba(0, 0, 0, 0.247);
  --color-primary: rgba(0, 0, 0, 0.466); }

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-secondary);
  color: var(--color-text); }

.header {
  width: 100%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .header__text {
    font-size: 2.8rem; }
  .header a {
    color: dodgerblue;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all 0.3s; }
    .header a:hover {
      font-size: 1.3rem; }
    .header a:active {
      font-size: 1.2rem; }

.container {
  width: 70%;
  height: 80vh;
  margin: auto;
  margin-top: 1.5rem;
  background-color: var(--color-tertiary);
  border-radius: 15px;
  padding: 0.5rem;
  box-shadow: 2px 2px 20px var(--color-header); }
  @media (max-width: 900px) {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; } }
  .container .player {
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly; }
    .container .player__font {
      font-size: 3rem;
      font-weight: 400;
      margin-top: -2rem; }
    .container .player__totalScore {
      font-size: 4rem;
      font-weight: 400;
      margin-top: -4rem; }
      @media (max-width: 900px) {
        .container .player__totalScore {
          margin-top: 0.5rem; } }
    .container .player .currentScore-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-between;
      align-items: center;
      background: var(--color-secondary);
      padding: 1rem;
      height: 6rem;
      border-radius: 5px; }
      .container .player .currentScore-box p {
        font-size: 1.3rem; }
  .container .active {
    background-color: var(--color-primary); }
    .container .active .player__font > span {
      background-color: red;
      position: relative;
      left: 1rem;
      bottom: 1rem;
      font-size: 0.1rem;
      padding: 0.5rem;
      border-radius: 100%; }
  .container .container__middle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (max-width: 900px) {
      .container .container__middle {
        position: static;
        justify-content: space-between; } }
    .container .container__middle .btn {
      font-size: 1.5rem;
      cursor: pointer;
      background-color: transparent;
      color: var(--color-text);
      border: none;
      outline: none;
      transition: all 0.2s; }
      .container .container__middle .btn:hover {
        font-size: 1.6rem; }
      .container .container__middle .btn:active {
        font-size: 1.5rem; }
    .container .container__middle .newgame {
      position: absolute;
      top: 2rem; }
      @media (max-width: 900px) {
        .container .container__middle .newgame {
          position: static; } }
    .container .container__middle .dice {
      position: absolute;
      height: 5rem;
      top: 7rem; }
      @media (max-width: 900px) {
        .container .container__middle .dice {
          position: static; } }
    .container .container__middle .rolldice {
      position: absolute;
      top: 15rem; }
      @media (max-width: 900px) {
        .container .container__middle .rolldice {
          position: static; } }
    .container .container__middle .hold {
      position: absolute;
      top: 20rem; }
      @media (max-width: 900px) {
        .container .container__middle .hold {
          position: static; } }
    .container .container__middle .finalscore {
      position: absolute;
      top: 25rem;
      width: 13%;
      height: 2.2rem;
      text-align: center;
      font-size: 1rem; }
      @media (max-width: 900px) {
        .container .container__middle .finalscore {
          position: static;
          width: 20%; } }
    .container .container__middle .developer {
      position: absolute;
      top: 30rem;
      font-style: italic; }
      @media (max-width: 900px) {
        .container .container__middle .developer {
          position: static;
          display: none; } }

.howtoplay {
  line-height: 2.5rem; }
  .howtoplay p {
    font-size: 1.3rem;
    padding: 0.5rem; }
